<form [formGroup]="userSignUpFG">
  <div>
    <p class="avatarChange">Zmień awatar</p>
    <input type="file" (change)="onFileChanged($event,user.id)" class="file">
  </div>
  <mat-form-field>
    <input type="text" placeholder="username" formControlName='username' matInput>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="email" formControlName='email' matInput>
  </mat-form-field>

  <button (click)="onUpdate()" [disabled]="userSignUpFG.invalid" mat-raised-button color="warn">Update</button>
</form>


