<mat-sidenav-container>
  <mat-sidenav-content>
    <app-toolbar></app-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div>
  <h3>Lista:</h3>
  <p *ngFor="let user of users" class="user">
    {{user.email}}
    {{user.password}}
    {{user.id}}
    <button (click)="updateUser(user.id)">update email</button>
  </p>
</div> -->

<!-- <div *ngIf="activeUser">
  <h3>Zalogowany użytkownik:</h3>
  Username:<p>{{activeUser.username}}</p>
  Email:<p>{{activeUser.email}}</p>
</div> -->

<!-- [disabled]="userFG.invalid"
[disabled]="userFG.invalid"
[disabled]="userFG.invalid" -->
