img.img{
  width: 200px;
  height: 250px;
}

.container
{
  margin: 20px 0 20px 20px;
}
div.attribute{
  margin-bottom: 20px;
}

span.bold{
  font-weight: bold;
  // font-size: 1.1rem;
}

p{
  font-size: 1.1rem;
}

h2{
font-size: 1.5rem;
}
h3{
  font-size: 1.3rem;
}

button.change{
  margin-top: 20px;
}
