
<form [formGroup]="userSignInFG">
  <mat-form-field>
    <input type="text" placeholder="Nazwa użytkownika" formControlName='username' matInput>
    <mat-error>To pole nie może być puste</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" placeholder="Hasło" formControlName='password' matInput>
    <mat-error>To pole nie może być puste</mat-error>
  </mat-form-field>
  <button (click)="signIn()" mat-raised-button color="primary" [disabled]="userSignInFG.invalid">zaloguj</button>
</form>
