
<form [formGroup]="userSignInFG">
  <mat-form-field>
    <input type="text" placeholder="username" formControlName='username' matInput>
    <mat-error >Nazwa użytkownika musi składać się z conajmniej 3 znaków.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="password" formControlName='password' matInput>
    <mat-error>Hasło musi składać się z conajmniej 4 znaków.</mat-error>
  </mat-form-field>
  <button (click)="signIn()" mat-raised-button color="primary">zaloguj</button>
</form>
